<h1 class="d-flex justify-content-center mb-4">All Pets</h1>
<div class="d-flex justify-content-center">
</div>

<%= form_with url: pets_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a pet"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<br>

<div class="row">
  <% @pets.each do |pet| %>
    <div class="col-md-3">
      <%= link_to pet_path(pet), class:"text-decoration-none" do %>
        <div class="card mb-3">
        <% if pet.photo.attached? == false %>
          <img src="https://miro.medium.com/max/650/0*zV9kLZ9GyYscLrhX.jpg" class="card-img-top img-fluid" alt="dog">
        <% else %>
          <img src=<%= pet.photo.url %> class="card-img-top img-fluid">
        <% end %>
          <div class="card-body">
            <h3 class="card-title"><%= pet.name %></h3>
            <h5 class="card-location"><%= pet.user.address %></h5>
            <% if pet.average == 0 %>
              <p>No reviews</p>
            <% else %>
              <%= pet.average %>
              <!-- <%= pet.average.times do %>
                <i class="fa-solid fa-star">
              <% end %> -->
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
