<h1><%= @pet.name %> the <%= @pet.pet_type %></h1>
<%# <p>Find me in app/views/pets/show.html.erb</p> %>
<%= link_to "Add new play date", new_pet_play_date_path(params[:id]) %>

<ul class="list-group">
  <li>Name: <%= @pet.name %></li>
  <li>Breed: <%= @pet.breed %></li>
  <li>Type: <%= @pet.pet_type %></li>
  <li>Bio: <%= @pet.bio %></li>
  <li>User description: <%= @user.description %></li>
</ul>
<br>
<ul class="list-group">
<% @pet.play_dates.each do |play_date| %>
  <li> Your playdate with <%= play_date.pet.name %>: </li>
  <li> Start_time: <%= play_date.start_time %></li>
  <li> End time: <%= play_date.end_time %></li>
<% end %>
</ul>
<br>
<%= link_to "view pets", pets_path %>
