<h1><%= @pet.name %></h1>
<p>Find me in app/views/pets/show.html.erb</p>
<%# <%= link_to "+ add new play date", new_pet_play_date_path(params[:id]) %> %>
<%= link_to "see your playdates", user_play_dates_path(@user) %>


<%= simple_form_for [@pet, @play_date] do |f| %>
  <%= f.input :start_time %>
  <%= f.input :end_time %>
  <%# <%= f.input :photo, as: :file %>
  <%= f.button :submit %>
<% end %>

<h2>pet play-date rating</h2>
<h2><%= @pet.average %> </h2>

<br>
<ul class="list-group">
  <li><h4><%= @pet.name %></h4></li>
  <li><%= @pet.breed %></li>
  <li><%= @pet.pet_type %></li>
  <li><%= @pet.bio %></li>
  <li><%= cl_image_tag @pet.photo.key, height: 300, width: 400, crop: :fill %></li>
  <li><%= @user.description %></li>
</ul>
<br>
<ul class="play_dates">
  <% @pet.play_dates.each do |play_date| %>
    <li><h3><%= play_date.pet.name %></h3></li>
    <li><%= play_date.start_time %></li>
    <li><%= play_date.end_time %></li>
    <br>
    <li><h4>reviews</h4></li>
    <% answers =  @reviews.select {|review| review.play_date_id == play_date[:id]}%>
    <% answers.each do |answer| %>
      <li><%= answer.rating %></li>
      <li><%= answer.content %></li>
    <% end %>
  <% end %>
  <br>
  <br>
</ul>
<br>
<%= link_to "view all available pets", pets_path %>
