
<h1><%= @pet.name %> the <%= @pet.pet_type.capitalize %></h1>

<%# <%= link_to "see your playdates", user_play_dates_path(@user) %>
<p>Book a playdate with <%= @pet.name %>:</p>

<div class="">
<%= simple_form_for [@pet, @play_date] do |f| %>
  <%= f.input :start_time %>
  <%= f.input :end_time %>
  <%# <%= f.input :photo, as: :file %>
  <%= f.button :submit %>
<% end %>
</div>

<h2>pet play-date rating</h2>
<h2><%= @pet.average %> </h2>

<ul class="list-group">
  <li>Name: <%= @pet.name %></li>
  <li>Breed: <%= @pet.breed %></li>
  <li>Type: <%= @pet.pet_type %></li>
  <li>Bio: <%= @pet.bio %></li>
  <li>User description: <%= @user.description %></li>
</ul>
<br>
<ul class="list-group">
<% @pet.play_dates.each do |play_date| %>
  <h4> Your playdate with <%= play_date.pet.name %>: </h4>
  <li> Start_time: <%= play_date.start_time %></li>
  <li> End time: <%= play_date.end_time %></li>
<% end %>
</ul>
<br>
<h4>reviews</h4>
<ul>
  <% answers =  @reviews.select {|review| review.play_date_id == play_date[:id]}%>
  <% answers.each do |answer| %>
    <li><%= answer.rating %></li>
    <li><%= answer.content %></li>
  <% end %>
</ul>
<br>
<%= link_to "view pets", pets_path %>
