
<h1><%= @pet.name %> the <%= @pet.pet_type.capitalize %></h1>
<%# <%= link_to "See your playdates", user_play_dates_path(@user) %>

<%# <%= link_to "see your playdates", user_play_dates_path(@user) %>
<p>Book a playdate with <%= @pet.name %>:</p>

<div class="">
<%= simple_form_for [@pet, @play_date] do |f| %>
  <%= f.input :start_time %>
  <%= f.input :end_time %>
  <%# <%= f.input :photo, as: :file %>
  <div class="btn btn-outline-success index-button m-2"><%= f.button :submit %></div>
<% end %>
</div>

<!--
<h2>pet play-date rating</h2>
<h2><%= @pet.average %> </h2>
-->

<h2 class="mb-3 mt-3">Pet's information</h2>
  <p class="fs-6 fw-bold mb-0">Name</p>
  <p><%= @pet.name %></p>
  <p class="fs-6 fw-bold mb-0">Type</p>
  <p><%= @pet.pet_type.capitalize %></p>
  <p class="fs-6 fw-bold mb-0">Breed</p>
  <p><%= @pet.breed %></p>
  <p class="fs-6 fw-bold mb-0">About pet</p>
  <p><%= @pet.bio %></p>
  <p class="fs-6 fw-bold mb-0">About owner</p>
  <p><%= @user.description %>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

<br>
<!--
<ul class="list-group">
<% @pet.play_dates.each do |play_date| %>
  <h4> Your playdate with <%= play_date.pet.name %>: </h4>
  <li> Start_time: <%= play_date.start_time %></li>
  <li> End time: <%= play_date.end_time %></li>
<% end %>
</ul>
-->

<h2>Playdates</h2>
<div class="row">
  <% @pet.play_dates.each do |play_date| %>
  <div class="col-md-3">
    <div class="card border border-secondary-subtle mb-3 mt-3 " style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Your playdate with <%= play_date.pet.name %></h5>
        <p class="card-text"> Starting at: <%= play_date.start_time %></p>
        <p class="card-text"> Finishing at: <%= play_date.end_time %></p>
      </div>
    </div>
  </div>
  <% end %>
</div>

<!--
<h4>reviews</h4>
<ul>
  <% answers =  @reviews.select {|review| review.play_date_id == play_date[:id]}%>
  <% answers.each do |answer| %>
    <li><%= answer.rating %></li>
    <li><%= answer.content %></li>
  <% end %>
</ul>
<br>
<div class="btn btn-outline-success index-button mx-4"><%= link_to "Back to all pets", pets_path %></div>
