<h1 style="margin-bottom: 0px;">Your PlayDates</h1>
<br>

<%= form_with url: play_dates_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a playdate"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<% if @play_dates.nil? %>
  <p>You don't have any playdates...</p>
  <% else %>
  <div class="row">
  <% @play_dates.each do |play_date| %>
    <div class="col-md-3 mb-4">
      <div class="card mb-3 mt-3 w-100 h-100">
      <% if play_date.pet.photo.attached? == false %>
          <img src="https://miro.medium.com/max/650/0*zV9kLZ9GyYscLrhX.jpg" class="card-img-top img-fluid" alt="dog">
        <% else %>
          <img src=<%= play_date.pet.photo.url %> class="card-img-top img-fluid">
        <% end %>
        <div class="card-body">
          <h5 class="card-title">Your playdate with <%= play_date.pet.name %></h5>
        <p class="card-text"> Starting at: <%= play_date.start_time.strftime('%Y-%m-%d') %></p>
          <p class="card-text"> Finishing at: <%= play_date.end_time.strftime('%Y-%m-%d') %></p>
          <p class="card-text rev-button d-flex justify-content-center"><%= link_to "Add Review", new_play_date_review_path(play_date) %></p>
        </div>
      </div>
    </div>
  <% end %>
  </div>
<% end %>
<div class="index-button mt-5"><%= link_to "Back to all pets", pets_path %></div>
