<h1>Your PlayDates</h1>
<p>Find me in app/views/play_dates/index.html.erb</p>
<%= link_to "Back to all pets", pets_path %>

<!--
<ul>
  <% @play_dates.each do |play_date| %>
  <%# LINK THROUGH THE PHOTO IN FINAL ONE %>
  <li><%= play_date.start_time %> <%= play_date.end_time %>
  <%= play_date.pet.name %>
  <% answers =  @reviews.select {|review| review.play_date_id == play_date[:id]}%>
    <% answers.each do |answer| %>
      <%= answer.rating %>
      <%= answer.content %>
  <% end %>
  <%= link_to "review your play date", new_play_date_review_path(play_date) %></li>
  </li>
  <% end %>
</ul>
-->
<div class="row">
  <% @play_dates.each do |play_date| %>
  <div class="col-md-3">
    <div class="card border border-secondary-subtle mb-3 mt-3 " style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Your playdate with <%= play_date.pet.name %></h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text"> Starting at: <%= play_date.start_time %></p>
        <p class="card-text"> Finishing at: <%= play_date.end_time %></p>
      </div>
    </div>
  </div>
  <% end %>
</div>
