<h1>Review your playdate</h1>
<p>Find me in app/views/reviews/new.html.erb</p>
<%= simple_form_for [@pet, @play_date, @review] do |f| %>
  <%= f.input :rating %>
  <%= f.input :content %>
  <%# <%= f.input :photo, as: :file %>
  <%= f.button :submit %>
<% end %>
