<!DOCTYPE html>
<html>
  <head>
    <title>Rbnb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%# <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: false %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </head>
  <%= link_to "sign in", user_session_path %>
  <%= link_to "sign up", new_user_registration_path %>
  <%= button_to "sign out", destroy_user_session_path, method: :delete %>


  <body class="container mt-5">
    <%= yield %>
  </body>
</html>
